.wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.container {
  width: 100%;
  height: 100%;
}

.popup {
  padding: 8px;
  min-width: 150px;
}

.popupType {
  margin-top: 4px;
  font-size: 12px;
  color: #666;
}

.tbankMarker {
  background: none !important;
  border: none !important;
}